[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
    cmd = vimdiff "$LOCAL" "$REMOTE"
[alias]
	d = difftool
[core]
    whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
