[diff]
	tool = /home/ppatel/TOOLS/VIM/vim91/src/vim -d
[difftool]
	prompt = false
[difftool "vimdiff"]
    cmd = /home/ppatel/TOOLS/VIM/vim91/src/vim -d  "$LOCAL" "$REMOTE"
[alias]
	d = difftool
[core]
    whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
